<!DOCTYPE html>
<html>
    <head>
        <title>Postal Code Mapper</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115862089-1"></script>
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<% =$apikey>&v=3.exp&libraries=places"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-115862089-1');
        </script>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script>

    function callAPI(data) {
      var opts = {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {}
      };
      window.fetch('/pc_coord', opts).then(function (response) {
        return response.json();
      })
      .then(function (body) {
        console.log(JSON.stringify(body));
        var json = body;

        if (json['response']) {
            var clinics = json['clinics'];
            var myList = document.createElement('ul');
            document.getElementById('location').innerHTML = '';

            for (var j = 0; j < clinics.length; j++) {
                var listItem = document.createElement('li');
                listItem.textContent = clinics[j]['name']+' ('+parseFloat(Math.round(clinics[j]['distance'] * 100) / 100).toFixed(2)+'m)';
                myList.appendChild(listItem);
            }
            document.getElementById('location').appendChild(myList);
        } else {
            document.getElementById('location').innerHTML = "No result.";
        }
        document.getElementById('location').className += " well";

      });
    }

  function initialize() {
        var address = (document.getElementById('pac-input'));
        var options = {
        };

        var autocomplete = new google.maps.places.Autocomplete(address, options);
        autocomplete.setTypes(['geocode']);
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }

        // Do call to service
        callAPI({
          address: place.formatted_address,
          lat: place.geometry.location.lat(),
          lon: place.geometry.location.lng()})
        });
  }

   google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    </head>
    <body>
        <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><h3>Single search</h3></div>
                <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 form-group" class="container">
                <label for="pac-input">Search address:</label>
                <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="location"></div>
            <div class="col-sm-1"></div>
        </div>
</body>
</html>
